<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize) ="collapsed=true">
        <ul class="nav navbar-nav">
          <li>
            <button type="button" class="btn btn-primary navbar-btn">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </li>
        <li *ngFor="let session of sessions"  class="nav-item">
          <a class="nav-link" [ngStyle]=" selectedSession && session.id === selectedSession.id ? {'background-color': 'white'} : {'background-color': '#f8f9fa'}" tabindex="0" id="navbarDropdown1" role="button" (click)="sessionSelected(session)">
           Session {{session.id}} 
          </a>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <div appDropdown class="button-group">
              <button type="button" class="dropdown-toggle">Dropdown <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="">Settings</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




    <div *ngIf="selectedSession" class="tab-content" id="nav-tabContent">
      
       <app-tab [session]="selectedSession"></app-tab> 
   </div>
   </div>